body{
    background-color: #f9d1f9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family:fantasy;
    color: black;
}

.image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .collage {
    display: none;
    position: absolute;
    top: 0;
    left: 110%; /* place next to the main image */
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .collage img {
    width: 60px;
    height: 60px;
    margin: 5px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .image-wrapper:hover .collage {
    display: flex;
    flex-wrap: wrap;
  }

