body{
    background-color: #f9d1f9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family:fantasy;
    color: black;
}

.image-hover-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px auto;
  }
  
  .main-img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }
  
  .collage {
    opacity: 0;
    transition: opacity 0.4s ease;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    pointer-events: none;
  }
  
  .collage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }
  
  .image-hover-box:hover .collage {
    opacity: 1;
    pointer-events: auto;
  }
  
  .collage img:hover {
    transform: scale(1.05);
  }
  
